<section class="contacts">
  <div class="row">
    <div class="large-12 columns">
      <h2 class="conditions-h2 translate-it" key="contacts" id="contact" data-magellan-target="contact">Контакты</h2>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <p class="translate-it contacts_adress" key="">
        <span class="translate-it" key="rentkomplekt_llc">ООО «Ренткомплект»</span><br />
        <span class="translate-it" key="location_address:_moscow">Адрес местонахождения: г. Москва, </span><br />
        <span class="translate-it" key="ul_zheleznogorsk_2-ya">ул. Железногорская 2-Я, д. 27, помещение 2, комната 7</span><br />
        <span class="translate-it" key="ogrn">ОГРН: 1137746702213</span><br />
        <span class="translate-it" key="taxpayer_identification">ИНН: 7727810988</span><br />
        <span class="translate-it" key="gearbox">КПП: 772701001</span>
      </p>
    </div>
  </div>
</section>
  
