<div class="row">
  <div class="large-8 column">
    <div class="logo">
      <img src="{{ 'assets/img/logo.png'|theme }}" alt="Perevedi.online">
    </div><!-- END LOGO -->
  </div>
  <div class="large-4 column">
    <div class="row">
      <div class="large-9 large-offset-3 column">
        <div class="lang-box">
          <ul class="lang-menu">
            <li><a href="#" class="lang active" title="Русский" id="rus">РУС</a></li>
            <li><a href="#" class="lang" title="Українська" id="ukr">УКР</a></li>
            <li><a href="#" class="lang" title="English" id="eng">ENG</a></li>
            <li><a href="#!" class="envelop" data-open="support" title="Поддержка"><i class="icn-envelop"></i></a></li>
          </ul>
        </div><!-- END LANG-BOX -->
      </div>
    </div>
  </div>
</div>
<div class="row" data-magellan>
  <div class="large-12 column text-right">
    <ul class="main-menu">
      <li><a href="#aboutService" class="menu-link translate-it" key="about_service">о сервисе</a></li>
      <li><a href="#tariff" class="menu-link translate-it" key="tarif">тарифы</a></li>
      <li><a href="#faq" class="menu-link translate-it" key="faq">вопросы</a></li>
      <li><a href="#contact" class="menu-link translate-it" key="contacts">контакты</a></li>
    </ul>
  </div>
</div>
