.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

.loader img {
  width: 100px;
  height: 100px;
}

/*
* иконки
*/

i[class*="icn-"] {
  display: inline-block;
  vertical-align: middle;
  background: url(../img/icons.svg) no-repeat;
  margin-right: 5px;
}

i.icn-envelop {
  background-position: 0px -4px;
  width: 46px;
  height: 48px;
  margin-right: 0;
  margin-left: 1.25rem;
}

i.icn-visa-big{
  background-position: -60px -4px;
  width: 103px;
  height: 45px;
}

i.icn-master-big{
  background-position: -179px 0px;
  width: 92px;
  height: 57px;
}

i.icn-mir-big{
  background-position: -286px 0px;
  width: 111px;
  height: 54px;
}

i.icn-visa-small {
  background-position: -144px -64px;
  width: 38px;
  height: 17px;
}

i.icn-master-small {
  background-position: -243px -61px;
  width: 38px;
  height: 24px;
}

i.icn-mir-small {
  background-position: -186px -64px;
  width: 49px;
  height: 17px;
}


i.icn-master-secure {
  background-position: 2px -61px;
  width: 59px;
  height: 38px;
  margin-right: 2px;
}

i.icn-visa-secure {
  background-position: -58px -61px;
  width: 68px;
  height: 38px;
}

i.icn-close {
  background-position: -295px -58px;
  height: 36px;
  width: 32px;
}

.header {
  background-color: #fff;
  padding-top: 47px;
  padding-bottom: 1.4rem;
}

.two-block_wrapper{
  position: relative;
  /*overflow: hidden;*/
}

/*
* ERROR_BLOCK
*/

.error_block{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
  background-color: #c4ccb7;
  height: 100vh;
  padding-top: 11.25rem;
  padding-bottom: 1.875rem;
  display: none;
}

.error_block__h2,
.error_block__h2_desc {
  font-size: 3.1875em;
  color: #444444;
  line-height: 1;
}

.error_block__h2 {
  margin-bottom: 9rem;
  text-transform: uppercase;
}

.error_block__h2_desc {
  font-size: 2.1875em;
  line-height: 1;
  margin-bottom: 6.25rem;
}

.error-button {
  background-color: #8dc63f;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 1.5625em;
  padding: 0.45em 0em;
  margin-bottom: 4.375rem;
}

.error-button:hover,
.error-button:focus {
  background-color: #ed1c24;
}

/*
* TRANSACTION-OPERATION
*/

.transaction-operation {
  position: absolute;
  z-index: 997;
  width: 100%;
  min-height: 558px;
  /*height: 100vh;*/
  padding-top: 5.625rem;
  padding-bottom: 4.625rem;
  display: none;
}

.transaction-operation_h2 {
  color: #444444;
  font-size: 2.375em;
  text-transform: uppercase;
}

.transaction-operation_desc {
  font-size: 2.1875em;
  color: #444444;
}

.transaction-commision {
  margin-bottom: 4.0625rem;
}

.transaction-button_back,
.transaction-button_checkout {
  background-color: #ed1c24;
  text-transform: uppercase;
  font-size: 0.7em;
  line-height: 1;
  padding: 0.45em 0.6em;
  border-radius: 4px;
  float: right;
}

.transaction-button_checkout {
  background-color: #8dc63f;
  float: left;
}

.transaction-button_back:hover,
.transaction-button_back:focus {
  background-color: #ed1c24;
}

.transaction-button_checkout:hover,
.transaction-button_checkout:focus {
  background-color: #8dc63f;
}

.small-vendor_wrap {
  padding-top: 0.4rem;
}

.agreement-chbx_wrapper {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}

.agreement-chbx_wrapper label,
.agreement-chbx_wrapper input[type="checkbox"] {
  font-size: 1.0625em;
  font-family: "Helvetica Neue";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  cursor: pointer;
}

.agreement-chbx_wrapper a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

#agreement[type='checkbox'] + .css-label {
  padding-left: 23px;
  background: url("../img/check-box.png") no-repeat;
  background-position: 0px -22px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; 
}

#agreement[type='checkbox']:checked + .css-label {
  background-position: 0px 1px;
}

#agreement {
  display: none;
}

/*
* SUCCESS-OPERATION
*/

.print-logo {
  display: none;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.success-operation {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 998;
  width: 100%;
  background-color: #c4ccb7;
  height: 100vh;
  padding-top: 2.5rem;
  padding-bottom: 2.875rem;
  display: none;
}

.success-operation_h2 {
  color: #444444;
  font-size: 2.375em;
  text-transform: uppercase;
  margin-bottom: 1.4375rem
}

.success-operation_text,
.success-operation_text__desc {
  font-size: 1.375rem;
  font-family: "Helvetica Neue";
  color: rgb(68, 68, 68);
  line-height: 1;
  text-align: center;
}

.success-operation_text__desc {
  margin-bottom: 2.375rem;
}

.success-operation_text:last-child {
  line-height: 1.5;
  padding-top: 1rem;
}

.success-operation_button-box {
  position: absolute;
  bottom: 12.8rem;
  width: 100%;
}

.success-operation-button {
  font-size: 1.5625em;
  text-transform: uppercase;
  background-color: #8dc63f;
  border-radius: 4px;
  padding: 0.35em 0.7em 0.36em 0.4em;
}

.success-operation-button:hover,
.success-operation-button:focus {
  background-color: #ed1c24;
}

.email-input {
  font-size: 1.25em;
  font-family: "Helvetica Neue";
  color: rgb(89, 89, 89);
  line-height: 1.2;
  text-align: left;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: none;
  height: 2.8rem;
  padding-left: 1rem;
}

/*
* MAIN-BLOCK
*/

.main-block,
.transaction-operation {
  background-image: url('../img/main-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 489px;
  padding-top: 2.5rem;
  padding-bottom: 1.875rem;
}

.lang-box ul {
  list-style-type: none;
  /*margin-left: 2.15rem;*/
  margin-bottom: 1.625rem;
}

.lang-box ul li{
  display: inline;
  margin-right: 5px;
}

a.lang {
  font-size: 0.8em;
  font-family: "Helvetica Neue";
  color: rgb(109, 109, 109);
  line-height: 1.2;
  background-color: #eeeeee;
  padding: 10px 6.5px;
  border: 1px solid transparent;
  border-radius: 4px;
}

a.lang.active {
  background-color: #d7df21;
  color: #fff;
}

.main-menu {
  list-style-type: none;
  margin-left: 0;
}

.main-menu li {
  display: inline;
  margin-right: 0.6875rem;
}

.menu-link {
  font-size: 1.604375em;
  font-family: "Helvetica Neue";
  color: rgb(73, 73, 73);
  line-height: 1.2;
  text-transform: uppercase;
}

.menu-link:hover,
.menu-link:focus {
  color: rgb(237, 28, 36);
}


.main-h1 {
  font-size: 2.615em;
  font-family: "Helvetica Neue";
  color: rgba(255, 255, 255, 0.769);
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.9375rem;
}

.main-desc {
  font-size: 3.830625em;
  font-family: "Helvetica Neue";
  color: rgba(255, 255, 255, 0.902);
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 3rem;
}

.main-desc_scnd {
  font-size: 5.138125em;
  font-family: "Helvetica Neue";
  color: rgba(255, 255, 255, 0.859);
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 1.4375rem;
  margin-top: -50px;
  padding-left: 1.7rem;
}

.card-wrap {}

.card-wrap_card {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 1.5625rem;
  height: 256px;
  /*opacity: 0.8;*/
}

.card-wrap_card_h-wr {
  margin-bottom: 1.875rem;
}

.card-wrap_card__header {
  font-size: 1.979375em;
  font-family: "Helvetica Neue";
  color: rgb(35, 31, 32);
  line-height: 1.2;
}

.card-wrap_card_input {

}

.card-wrap_card_input__text, 
.card-wrap_card_input__text:focus,
.card-wrap_card_input__summ,
.card-wrap_card_input__summ:focus {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: none;
  font-size: 1.5em;
  font-family: "Helvetica Neue";
  color: rgb(89, 89, 89);
  line-height: 1.2;
  height: 4rem;
  padding-left: 1rem;
}

.card-wrap_card_input__summ {
  margin-bottom: 1.5rem;
}

.card-wrap_card_data-input__m-wrap {
  display: block;
}

.card-wrap_card_data-input__m-wrap_item
{
  width: 70px;
  float: left;
  margin-right: 1rem
}

.card-wrap_card_data-input__m-wrap_item__cvv {
  width: 160px;
  float: left;
  margin-right: 1rem
}

.card-wrap_card_data-input__m-wrap_month,
.card-wrap_card_data-input__m-wrap_month:focus,
.card-wrap_card_data-input__m-wrap_year,
.card-wrap_card_data-input__m-wrap_year:focus,
.card-wrap_card_data-input__m-wrap_cvv,
.card-wrap_card_data-input__m-wrap_cvv:focus {
  height: 43px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: none;
  font-size: 1.45em;
  font-family: "Helvetica Neue";
  color: rgb(89, 89, 89);
  line-height: 1.2;
}

input[type=number].card-wrap_card_input__text::-webkit-inner-spin-button,
input[type=number].card-wrap_card_data-input__m-wrap_month::-webkit-inner-spin-button,
input[type=number].card-wrap_card_data-input__m-wrap_year::-webkit-inner-spin-button,
input[type=number].card-wrap_card_data-input__m-wrap_cvv::-webkit-inner-spin-button,
input[type=number].transfer-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.about_cvv__wrap {
  position: relative;
}

.about_cvv {
  font-size: 1.25em;
  font-family: "Helvetica Neue";
  color: rgb(221, 6, 68);
  line-height: 1.2;
  width: 23px;
  height: 23px;
  padding-left: 0.4rem;
  display: block;
  float: left;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 0.5rem;
}

.about_cvv_tooltip {
  position: absolute;
  top: 20px;
  left: 126px;
  padding: 1.5625rem 1.6875rem 1.25rem;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 6px;
  display: none;
}

.about_cvv_tooltip__card {
  position: relative;
  background-color: #d8dfd1;
  border: 1px solid transparent;
  border-radius: 3px;
  width: 244px;
  height: 154px;
}

.about_cvv_tooltip__card::before {
    position: absolute;
    top: 9px;
    left: -1px;
    width: 244px;
    height: 27px;
    background-color: #2c1111;
    content: '';
}

.about_cvv_tooltip__card::after {
    position: absolute;
    top: 53px;
    right: 15px;
    padding-left: 7px;
    width: 57px;
    height: 32px;
    background-color: #fff;
    font-size: 1.5em;
    content: '123';
}

.about_cvv:hover,
.about_cvv:focus {
  color: rgb(221, 6, 68);
}

.about_cvv:hover + .about_cvv_tooltip,
.about_cvv:focus + .about_cvv_tooltip,
.about_cvv__wrap:hover > .about_cvv_tooltip,
.about_cvv__wrap:focus > .about_cvv_tooltip  {
  display: block;
}

.input-mess {
  font-size: 1.4em;
  font-family: "Helvetica Neue";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  display: block;
  padding-top: 1rem;
  /*margin-bottom: 1.25rem;*/
  padding-top: 2.25rem;
}


/*Валюта*/
.cur-select {
    padding: 1px 1px 1px 3px;
    border: 1px solid transparent;
    margin: 0 0 1rem;
    font-size: 1.8rem;
    font-family: inherit;
    line-height: normal;
    color: #fff;
    background-color: transparent;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 4rem;
    cursor: pointer;
}

.cur-select:hover,
.cur-select:focus, {
  outline: none;
}

.cur-select_wrap label {
  outline: none;
}

.cur-select_wrap {
  padding-top: 0;
}

.transfer-amount {
  border: 1px solid transparent;
  border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 3.125rem;
    font-size: 1.375em;
}

.transfer-amount_wrap {
  padding-top: 1rem;
  padding-right: 1rem;
}

.send-transfer,
.start-transfer {
  border-radius: 3px;
  text-transform: uppercase;
  color: #fff;
  background-color: #8dc63f;
  font-size: 1.375em;
  padding: 0.6em;
}

.send-transfer:hover,
.send-transfer:focus {
  background-color: #ed1c24;
}

.start-transfer:hover,
.start-transfer:focus {
  background-color: #ed1c24;
}

.start-transfer {
  font-size: 1.6875em;
}

.vendor-box {
  padding: 13px 13px 16px 16px;
  background-color: rgba(255, 255, 255, 0.17);
  margin-bottom: 1rem;
}

.commission-comment__wrap {
  font-size: 1.604375rem;
  font-family: "Helvetica Neue";
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

.commission-comment__wrap p {
  margin-bottom: 0rem;
  line-height: 1.3;
}

.first-scr_comment__wrap {
  padding-top: 1rem;
  font-size: 0.625em;
  font-family: "Helvetica Neue";
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

.card-wrap_card_data__recepient {
  margin-bottom: 0.6rem;
  padding-left: 1rem;
}


.card-wrap_card_data__recepient_header {
  font-size: 1.24em;
  text-transform: uppercase;
  color: #595959;
}

/*Валюта 2*/
.cur-select_scnd {
    padding: 1px 1px 0px 3px;
    border: 1px solid transparent;
    margin: 0 0 1rem;
    font-size: 1.3125em;
    font-family: inherit;
    line-height: normal;
    color: #fff;
    background-color: #ff1212;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 2.1375rem;
    cursor: pointer;
}

.cur-select_wrap_scnd {
  margin-left: 1rem;
  margin-right: 0.6rem;
}

/*.curr-select {
  background-image: none;
  padding: 0;
  width: 55px;
  height: 53px;
  font-size: 1.5em;
  border: 1px solid transparent;
  padding-left: 0.1rem;
}

.curr-select:focus {
  outline: none;
}*/


/*
* ABOUT-SERVICE
*/

.about-service {
  padding-top: 1.875rem;
  min-height: 480px
}

.about-service_features__h3 {
  font-size: 1.666875rem;
  font-family: "Helvetica Neue";
  color: rgb(35, 31, 32);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.about-service_features__ul {
  list-style: none;
  margin-left: 0;
  padding-left: 2.25rem;
}

.about-service_features__ul li {
  font-size: 1.666875rem;
  font-family: "Helvetica Neue";
  color: #231f20;
  position: relative;
}

.about-service_features__ul li::before {
  content: '';
  background-color: #afd132;
  border-radius: 3px;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 15px;
  left: -21px;
}


/*
* CONDITIONS
*/

.conditions {
  padding-top: 1.875rem;
  padding-bottom: 3.75rem;
  background-color: #c4ccb7;
}

.conditions p:first-child {
  margin-bottom: 0;
}

.conditions p,
.prelist,
.conditions li,
.faq p {
  font-size: 1.25em;
  font-family: "Helvetica Neue";
  color: rgb(35, 31, 32);
}

.prelist {
  margin-bottom: 0;
}

.conditions>.row,
.faq>.row {
  margin-bottom: 2rem;
}

.conditions-h2 {
  font-size: 3.229375em;
  font-family: "Helvetica Neue";
  color: rgb(35, 31, 32);
  line-height: 1.2;
}

.conditions-h3 {
  font-size: 1.666875em;
  font-family: "Helvetica Neue";
  color: rgb(35, 31, 32);
  line-height: 1.2;
}

.conditions-desc {
  font-size: 0.916875em;
  font-family: "Helvetica Neue";
  color: rgb(35, 31, 32);
  line-height: 1.2;
}

.conditions-h2, .conditions-h3, .conditions-desc {
  margin-bottom: 1.875rem;  
}


/*
* FAQ
*/

.faq {
  padding-top: 2.5rem;
  padding-bottom: 3.75rem;
}

/*
* CONTACTS
*/

.contacts {
  padding-top: 2.5rem;
  background-color: #c4ccb7;
  min-height: 434px;
}

.contacts_adress {
  font-size: 1.25em;
  font-family: "Helvetica Neue";
  color: rgb(35, 31, 32);
  line-height: 1.2;
}


.footer {
  padding-top: 1.1rem;
  height: 3.5rem;
  background-color: #8dc63f;
}

.footer_menu {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}

.footer_menu li {
  display: inline-block;
  margin-right: 1rem;
}

.footer_menu li a {
  font-size: 0.75em;
  font-family: "Helvetica Neue";
  color: rgb(255, 255, 255);
  text-decoration: underline;
  line-height: 1.2;
}

.copyright {
  font-size: 0.75em;
  font-family: "Helvetica Neue";
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

/*
* POPUP
*/

.popup {
  background-color: #c4ccb7;
  border-radius: 5px;
  overflow: visible;
}

.reveal.large.popup {
  width: 77%;
}

.popup_h2 {
  font-size: 2.416875rem;
  font-family: "Helvetica Neue";
  color: rgb(68, 68, 68);
  line-height: 1.2;
  text-transform: uppercase;
}

.popup p {
  font-size: 1.0625em;
  font-family: "Helvetica Neue";
  color: rgb(68, 68, 68);
  line-height: 1.2;
}

.popup_label_desc {
  font-size: 1.375em;
  font-family: "Helvetica Neue";
  color: rgb(68, 68, 68);
  line-height: 1.2;
  text-transform: uppercase;
}

.popup_label__stars {
  padding-top: 0.6rem;
  font-size: 1.125em;
  font-family: "Helvetica Neue";
  text-align: center;
  vertical-align: middle;
  color: rgb(89, 89, 89);
  line-height: 1.2;
  display: block;
  margin: 0 auto;
}

.popup input,
.popup textarea {
  border-radius: 5px;
}

.popup .close-button {
  position: absolute;
  right: -0.8rem;
  top: -0.5rem;
}

.popup input[type='date'] {
  font-size: 1.3em;
  color: rgb(89, 89, 89);
}

.popup .row:last-child .success-operation-button {
  margin-top: 1rem;
}


/*
* PRINT
*/
@media print {
  .header,
  .error_block,
  .transaction-operation,
  .success-operation__form,
  .success-operation_text:last-child,
  .main-block,
  .about-service,
  .conditions,
  .faq,
  .contacts,
  .footer {
    display: none;
  }

  .print-logo {
    display: block;
  }

}